<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <title>GLASS RECOMMENDATION</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="pics/banger.png" type="image/gif" sizes="16x16" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/HomePageCss.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <div class="top-logo">
      <header>
        <div class="headers"><h1>SPECTACLES RECOMMENDATION</h1></div>
      </header>
    </div>
    <div class="top-container">
      <h1>See Whats The Best Glasses For Your Face</h1>
      <div class="topnav">
        <a href="home">Home</a>
        <a class="active" href="clustering">Try On Using CNN</a>
      </div>
      <div class="main">
        <div class="parent">
          <div style="float: left">
            <img src="{{ url_for('video_feed') }}" />
          </div>
          <div style="float: left">
            <form
              action="/savecnn"
              method="POST"
              style="margin-left: 100px; margin-top: 100px; width: 100%"
            >
              <div
                class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"
                data-validate="Gender"
              >
                <label class="container"
                  >jpg:
                  <input
                    type="radio"
                    checked="checked"
                    name="format"
                    value="jpg"
                  />
                  <span class="checkmark"></span>
                </label>

                <span class="focus-input100"></span>
              </div>

              <div class="container-login100-form-btn">
                <button class="login100-form-btn">DETECT</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
